.HomePage {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
//  height: 100vh;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: var(--primary_padding);
  .HomepageColumn {
    &.leftSide {
      width: 15%;
      background-color: var(--primary_color);
      overflow-y: scroll;
      scrollbar-width: none;
        background-color: var(--secondary_color_bg_trans);
      border-radius: var(--borderRadius);
      &::-webkit-scrollbar{
        display: none;
      }
      .HolderMain{
        padding: 10px;
        height: calc(100vh - 100px);
      }
      .TopView {
        border-radius: var(--borderRadius);
        background-color: var(--secondary_color_bg_trans);
        height: auto;
        align-items: center;
        justify-content: left;
        display: flex;
        cursor: pointer;
        &:hover {
          color: var(--primary_color);
        background-color: var(--secondary_color);
          
        .BgImage {
          filter: blur(0.1rem) grayscale(100%) brightness(50%);
        }
        }
        .Body {
          display: flex;
          align-items: center;
          padding: 1rem;
          .storeLogo {
            width: 2rem;
            height: 2rem;
          }
          .storeName {
            padding-left: 0.5rem;
            font-size: 1.2rem;
            font-family: var(--fontTypeBold), Courier, monospace;
          }
        }
      }
      
      .ItemsGroup {
        padding-top: 2rem;
        .TitleHolder {
          display: flex;
          align-content: center;
          align-items: center;
          .Title {
            flex-grow: 1;
            font-size: 1.2rem;
            font-family: var(--fontTypeBold), Courier, monospace;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .MoreButton {
            font-weight: 600;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
            &:active {
              font-weight: 600;
            }
          }
        }

        .Item {
          display: flex;
          align-items: center;
          padding: 1rem 1rem 1rem 1rem;
          margin-top: 0.5rem;
          border-radius: var(--borderRadius);
          // background-color: var(--secondary_color_bg_trans);
          font-size: larger;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            background-color: var(--secondary_color_bg_trans);
          }
          &:active {
            background-color: var(--secondary_color);
            color: var(--primary_color);
          }
          &.active {
            background-color: var(--secondary_color);
            color: var(--primary_color);
          }
        }
      }
      
    }
    &.center {
      background-color: transparent;
      width: 65%;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &.rightSide {
      background-color: transparent;
      width: 20%;
    }
  }

  @media only screen and (max-width: 991px) {
    & {
      .HomepageColumn {
        &.leftSide {
          flex-grow: 1;
          position: absolute;
          left: 0;
          top: var(--headerHeight);
          width: 100%;
          height: 100vh;
          display: none;
        }
        &.center {
          flex-grow: 5;
        }
        &.rightSide {
          display: none;
          flex-grow: 1;
        }
      }
    }
  }
  @media only screen and (min-width: 991px) and (max-width: 1245px) {
    & {
      flex-direction: row;
      .HomepageColumn {
        &.leftSide {
          flex-grow: 1;
          height: 100vh;
          width: 30%;
          left: 0;
          position: absolute;
          padding: 1rem;
        }
        &.center {
          flex-grow: 4;
        }
        &.rightSide {
          flex-grow: 2;
        }
      }
    }
  }

  @media only screen and (min-width: 1246px) {
    & {
      flex-direction: row;
      .HomepageColumn {
        &.leftSide {
          flex-grow: 1;
        }
        &.center {
          flex-grow: 5;
        }
        &.rightSide {
          flex-grow: 1;
        }
      }
    }
  }
  .ItemsWrapHolder {
    display: flex;
    flex-wrap: wrap;
    &.FilterItemsWrap {
      flex-direction: column;
      flex-wrap: nowrap;
      &.Hidden{
       display: none;
      }
    }
    .ItemWrap {
      width: fit-content;
      align-items: center;
      padding: 0.5rem 1rem 0.5rem 1rem;
      margin-top: 1rem;
      border-radius: var(--borderRadius);
      // background-color: var(--secondary_color_bg_trans);
      font-size: 0.9rem;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary_color_bg_trans);
        text-decoration: underline;
      }
      &:active {
        background-color: var(--secondary_color_bg_trans);
        text-decoration: underline;
      }
      &.active {
        background-color: var(--secondary_color_bg_trans);
        text-decoration: underline;
      }
    }
  }
}
