.BookmarksList {
    padding-top: 2rem;
    .TitleHolder {
      display: flex;
      align-content: center;
      align-items: center;
      .Title {
        flex-grow: 1;
        font-size: 1.2rem;
        font-family: var(--fontTypeBold), Courier, monospace;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .MoreButton {
        font-weight: 600;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &:active {
          font-weight: 600;
        }
      }
    }
    .ItemsHolder {
      display: flex;
      flex-wrap: wrap;
      a{
        text-decoration: none !important;
        color: var(--secondary_color);
      }
      .Item {
        width: fit-content;
        align-items: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0.5rem;
        border-radius: var(--borderRadius);
        text-decoration: none !important;
        // background-color: var(--secondary_color_bg_trans);
        font-size: 0.9rem;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          background-color: var(--secondary_color_bg_trans);
        }
        &:active {
          background-color: var(--secondary_color);
          color: var(--primary_color);
        }
        &.active {
          background-color: var(--secondary_color);
          color: var(--primary_color);
        }
      }
    }
}
