.CollectionPage {
    height: inherit;
    overflow-y: scroll;
  .topView {
    padding-top: 0.5rem;
    width: 100%;
    img {
      width: inherit;
      height: 30vh;
      border-radius: var(--borderRadius1);
      object-position: center;
      object-fit: cover;
    }
  }
  .titleView {
    padding: 1rem 1rem 1rem 1rem;
    .titleText {
      font-size: 2.2rem;
      font-weight: 900;
    }
    .subTitleText {
      display: none;
      font-size: 1.2rem;
      font-weight: 500;
      width: 100%;
      margin: 0.5rem 0rem 0rem 0.5rem;
      line-height: 1.3rem;
    }
  }
}
